<div class="col-xs-12">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="h1">
        {{ getLangString "appName" }}
      </div>
    </div>
    <div class="col-xs-12">
      <div class="h2">
        {{ getLangString "appDesc" }}
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <hr />
</div>

<div class="col-xs-12 applicationFeaturesRegion"></div>