<td>{{ name }}</td>
<td>
  <div class="btn-group">
    <div class="btn btn-warning" id="edit">
      <p class="fa fa-pencil"></p>
    </div>
    <div class="btn btn-danger" id="delete">
      <p class="fa fa-times"></p>
    </div>
  </div>
</td>
