<div class="col-xs-12 usernameRegion"></div>
<div class="col-xs-12 emailRegion"></div>
<div class="col-xs-12">
  <hr />
</div>
<div class="col-xs-12 updateProfileRegion"></div>
<div class="col-xs-12">
  <hr />
</div>
<div class="col-xs-12 changePasswordRegion"></div>