<div class="col-xs-12">
  <form id="changePasswordForm">
    <div class="form-group" style="display: none">
      <label for="HIDDEN_USERNAME"></label>
      <input type="text" class="form-control" name="username" id="HIDDEN_USERNAME" aria-describedby="usernameHelp"
        placeholder="HIDDEN_USERNAME" value="{{ username }}">
    </div>

    <div class="currentPasswordRegion"></div>
    <div class="newPasswordRegion"></div>

    <div class="form-group pull-right">
      <button type="submit" class="btn btn-primary">{{ getLangString "account.save" }}</button>
    </div>
  </form>
</div>