<div class="col-xs-12">
  <form id="updateProfileForm">

    <div class="firstNameRegion"></div>
    <div class="lastNameRegion"></div>
    <div class="bioRegion"></div>
    <div class="avatarRegion"></div>
    <div class="mobilePhoneRegion"></div>
    <div class="landPhoneRegion"></div>
    <div class="faxRegion"></div>

    <div class="form-group pull-right">
      <button type="submit" class="btn btn-primary">{{ getLangString "account.save" }}</button>
    </div>
  </form>
</div>