<div class="col-xs-12">
  <div class="row text-center">
    <div class="col-xs-12">
      <label for="changeLanguage"></label>
      <select class="changeLanguage" id="changeLanguage"></select>
    </div>
  </div>
</div>