<div class="col-xs-12">
  <div class="h1 text-center">
    {{ getLangString "portal.applicationFeatures.features" }}
  </div>
</div>
<div class="col-xs-12">
  <div class="row applicationFeatureItems"></div>
</div>