<div class="col-xs-12">
  <div class="h1 text-center">
    {{ getLangString "about.title" }}
  </div>
</div>

<div class="col-xs-12">
  <hr />
</div>

<div class="col-xs-12">
  <div class="h2 text-center">
    {{ getLangString "appName" }}
  </div>
</div>

<div class="col-xs-12">
  <hr class="w-75" />
</div>

<div class="col-xs-12 text-center">
  {{{ getLangString "about.body" }}}
</div>